<a href="https://colab.research.google.com/github/MuhamadOskhar/Statistika-Deskriptif/blob/main/Kelompok_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# Program statistika deksriptif
# {Program ini digunakan untuk menampilkan statistika deskriptif: ukuran pemusatan, penyebaran dan distribusi dari sebuah data}

# Deklarasi pustaka
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random as rd

# Deklarasi variabel
data = {
    "tanjung": [rd.randint(0,100) for i in range(10)],
    "ewogs": [rd.randint(0,100) for i in range(10)]
}
tmp = {
    
    "tanjung": {
        "mean": 0,
        "variance": 0
    },

    "ewogs": {
        "mean": 0,
        "variance": 0
    }
}
show = pd.DataFrame(data)

# Menghitung rata rata
show["mean_tanjung"] = show["tanjung"].mean()
show["mean_ewogs"] = show["ewogs"].mean()

# Menghitung deviasi
show["deviasi_tanjung"] = show["tanjung"] - show["mean_tanjung"]
show["deviasi_ewogs"] = show["ewogs"] - show["mean_ewogs"]

# Menghitung variance
show["variance_tanjung"] = show["deviasi_tanjung"]**2
show["variance_ewogs"] = show["deviasi_ewogs"]**2

# Menampilkan data
show.head()

,tanjung,ewogs,mean_tanjung,mean_ewogs,deviasi_tanjung,deviasi_ewogs,variance_tanjung,variance_ewogs
0,33,11,49.3,65.2,-16.3,-54.2,265.69,2937.64
1,39,66,49.3,65.2,-10.3,0.8,106.09,0.64
2,91,84,49.3,65.2,41.7,18.8,1738.89,353.44
3,33,83,49.3,65.2,-16.3,17.8,265.69,316.84
4,25,44,49.3,65.2,-24.3,-21.2,590.49,449.44

In [ ]:
# Membuat grafik distributif normal