<a href="https://colab.research.google.com/github/MuhamadOskhar/Statistika-Deskriptif/blob/main/Kelompok_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# Program statistika deksriptif
# {Program ini digunakan untuk menampilkan statistika deskriptif: ukuran pemusatan, penyebaran dan distribusi dari sebuah data}

# Deklarasi pustaka
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random as rd

# Deklarasi variabel
data = {
    "tanjung": [rd.randint(0,100) for i in range(10)],
    "ewogs": [rd.randint(0,100) for i in range(10)]
}
show = pd.DataFrame(data)

# Menghitung rata rata
show["mean_tanjung"] = show["tanjung"].mean()
show["mean_ewogs"] = show["ewogs"].mean()

# Menghitung deviasi
show["deviasi_tanjung"] = show["tanjung"] - show["mean_tanjung"]
show["deviasi_ewogs"] = show["ewogs"] - show["mean_ewogs"]

# Menghitung variance
show["variance_tanjung"] = show["tanjung"] - show["mean_tanjung"]
show["variance_ewogs"] = show["ewogs"] - show["mean_ewogs"]

# Menampilkan data
show.head()

   tanjung  ewogs  mean_tanjung  mean_ewogs  deviasi_tanjung  deviasi_ewogs
0       68     76          42.1        57.6             25.9           18.4
1        0     90          42.1        57.6            -42.1           32.4
2       10     46          42.1        57.6            -32.1          -11.6
3       21     64          42.1        57.6            -21.1            6.4
4       98      4          42.1        57.6             55.9          -53.6